*{
	box-sizing: border-box;
}




.GridContainer{
 	display: grid;
 	grid-template-columns:repeat(8,1fr);
 	grid-template-rows:10rem 1fr;
 	min-height:100vh;
}

.Title{
	grid-column-start: 1;
	grid-column-end: 9;
}

body{
	margin:0;
}

.SideMenu{
	grid-column-start: 1;
	grid-column-end: 3;
}

.Wrapper{
	margin-top: 4rem;
}

#BasicInteractiveElements, #TextStyling, #ModularPatternElements, #sitestructure, #wireframes, #mockup, #Fonts, #Icons,#Images, #workflow, #rule, #name-convention, #comment-convention, #nesting-convention{
	grid-column: 3/9;
}

#mainnavigation{
	grid-column:3/9;
}

.Logo{
	grid-column:1;
	margin-top: .25rem;
	margin-left: 1rem;
}

.Menu{
	grid-column:3/8;
	margin-left: 2.5rem;

}

.ShoppingCart{
	margin-top: .25rem;
	margin-left: 1.5rem;
	grid-column:8;
}

.Account{
	margin-top: .25rem;
	margin-left: .5rem;
	grid-column:9;
}



/* --- Detailed View of Single Product START---*/
.ProductDetailed{
	display: grid;
	grid-template-columns:repeat(2,1fr);
}

.ProductImage{
	grid-column:1; 
}

.ProductDetailedList{
	grid-column:2;
}

.ProductPrice{
	display: grid;
	grid-template-columns:repeat(6,1fr);
	grid-template-rows:1fr 1fr;
}

.AddToCart{
	grid-column:1/6; 
}

a.CallToActionButton{
	grid-column:1/6; 
	text-align: center;
}

.ProductDetailedInformation{
  display: grid;
  grid-template-columns: repeat(9,1fr);
  grid-template-rows: 5rem, 1fr;
}

.InformationTabs{
	grid-column: 2/9;
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr 1fr;
}
.InformationTab{
	text-decoration: underline;
}

.ProductDescription{
	grid-column: 2/8;
	padding-left: 2rem;
}

.ReviewSlide{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr .5fr;
}

.ReviewDetailed{
	grid-column: 2;
}
.RatingHelpful{
	grid-column: 2;
}

.HelpfulButtons{
	grid-column: 3;
}



/*--- Detailed View of Single Product END ---*/


/*--Check Out Module Process 2 START--*/
.InformationArea{
	grid-column: 1/6;
}

.PriceArea{
	grid-column:7/10; 
	margin-top: 5rem;
}

.PreviousStep{
	grid-column:1/4; 
}

.NextStep{
	grid-column:8/10; 
}


/*--Check Out Module Process 2 END--*/


/*--Grid Structure Section START--*/
.gNavigationBar{
	display:grid;
 	grid-template-columns:repeat(9,1fr);
 	border-color: black;
 	border-style: solid;
}

.gLogo{
	background-color: #E7F3FD;
	grid-column:1;
	margin-top: .25rem;
	margin-left: 1rem;
}

.gMenu{
	background-color: #E7F3FD;
	grid-column:3/8;
	margin-left: 2.5rem;

}

.gShoppingCart{
	background-color: #E7F3FD;
	margin-top: .25rem;
	margin-left: 1.5rem;
	grid-column:8;
}

.gAccountNavBar{
	background-color: #E7F3FD;
	margin-top: .25rem;
	margin-left: .5rem;
	grid-column:9 ;
}

.gProductList{
	display:grid;
 	grid-template-columns:repeat(5,1fr);
 	grid-column-gap: 0.5rem;
 	border-color: black;
 	border-style: solid;

}

.gOneUnit{
	background-color: #E7F3FD; 
	padding-left: 2rem;
}

.gShoppingCartPurchaseHistory{
	display:grid;
 	grid-template-columns:repeat(3,1fr);
 	grid-column-gap: 1rem;
 	border-color: black;
 	border-style: solid;
}



.gCheckOut{
	display: grid;
	grid-template-columns: repeat(9,1fr);
 	border-color: black;
 	border-style: solid;
}

.gInformationArea{
	grid-column: 1/6;
	background-color: #E7F3FD; 
}

.gPriceArea{
	grid-column:7/10; 
	background-color: #E7F3FD; 
}

.gAccount{
	display: grid;
	grid-template-columns: repeat(8,1fr);
 	border-color: black;
 	border-style: solid;
 	grid-column-gap: .5rem;
}

.gSideMenu{
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: #E7F3FD; 
}

.gContent{
	grid-column: 3/9;
	background-color: #E7F3FD; 
}

.gTwoColumnForm{
	display: grid;
	grid-template-columns: repeat(2,1fr);
 	border-color: black;
 	border-style: solid;
 	grid-column-gap: .5rem;
}

/*--Grid Structure Section END--*/



/*---------------HomepageCard-----------------*/
.gHomepageCard1{
	display: grid;
	grid-template-columns: repeat(10,1fr);
	background-image: url(../img/HomepageCard1.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
}

.gCard1Content{
	display: grid;
	grid-column: 7/11;
	margin-top: 1rem;
    margin-right: 1rem;
}
/*--------------------------------------------*/

@media screen and (max-width:83em){
	.GridContainer{
		grid-template-rows: 5rem 10rem 1fr;
	}


	.SideMenu{
		padding-top: 0;
		grid-column: 1/9;
	}

	.SideMenu li{
		display: inline-block;
	}

	#BasicInteractiveElements, #TextStyling, #ModularPatternElements, #sitestructure, #wireframes, #mockup, #Fonts, #Icons, #Images{
	padding-left: 0;
	grid-column: 1/9;
}
}

@media screen and (max-width:57em){
	.Menu{
		grid-column:2/8;
		margin-left: 2.5rem;
	}
}

@media screen and (max-width:50em){
.ProductDetailed{
	display: grid;
	grid-template-rows: 1fr 1fr;
}
.ProductDetailedList{
	grid-column: 1/3;
}
.ProductImage{
	grid-column: 1/3;
}

.ProductDetail h4{
	display: inline-block;
}

.InformationTabs{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.ProductDescription{
	grid-column: 2/9;
}

.ReviewSlide{
	grid-template-rows: 1fr 1fr;
}

.ReviewDetailed{
	grid-column: 2/4;
}


.HelpfulButtons{
	grid-column: 2;
}

.HelpfulButtons h3{
	text-align: center;
}

p{
	width:clamp(20ch, 90%, 55ch);
}


header {
	font-size: 1rem;
}
}