
/* header */

header a{
	color: #FFFFFF;
	display: block;
	text-align: center;
	padding:0.4rem 0.5rem;
	text-decoration: none;
}

header a:hover{
	background-color:#15B890;
	color:#34383B;
}

header a:focus{
	color:#FFFFFF;
}



header {
  background-color: #34383B;
  font-family: Josefin Sans;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #34383B;
}

header li a {
  display: block;
  padding: 1.5rem 1.5rem;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

header li a:hover,
header .TopNavigationButton:hover {
  background-color: #15B890;
}

header .TopLogo {
  display: block;
  float: left;
  font-size: 2rem;
  padding: .8rem 1.5rem;
  text-decoration: none;
}

/* menu */

header .TopNavigationList {
  clear: both;
  max-height:0;
  transition: max-height .2s ease-out;
}

/* menu icon */

header .ToggleMenuIcon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 1.75rem 1.25rem;
  position: relative;
  user-select: none;
}

header .ToggleMenuIcon .ToggleIcon {
  background: #15B890;
  display: block;
  height: .125rem;
  position: relative;
  transition: background .2s ease-out;
  width: 1.125rem;
}

header .ToggleMenuIcon .ToggleIcon:before,
header .ToggleMenuIcon .ToggleIcon:after {
  background: #15B890;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .ToggleMenuIcon .ToggleIcon:before {
  top: 5px;
}

header .ToggleMenuIcon .ToggleIcon:after {
  top: -5px;
}

/* menu btn */

header .TopNavigationButton {
  display: none;
}

header .TopNavigationButton:checked ~ .TopNavigationList {
  max-height: max-content;
}


/*the middle line of the toggle menu button*/
header .TopNavigationButton:checked ~ .ToggleMenuIcon .ToggleIcon {
  background: transparent;
}

header .TopNavigationButton:checked ~ .ToggleMenuIcon .ToggleIcon:before {
  transform: rotate(-45deg);
}

header .TopNavigationButton:checked ~ .ToggleMenuIcon .ToggleIcon:after {
  transform: rotate(45deg);
}

header .TopNavigationButton:checked ~ .ToggleMenuIcon:not(.steps) .ToggleIcon:before,
header .TopNavigationButton:checked ~ .ToggleMenuIcon:not(.steps) .ToggleIcon:after {
  top: 0;
}




.Title{
	padding-left: 2rem;
	background-color: #F2F2F2;
}

pre{
	font-family: monospace;
	white-space: pre-line;
}

#BasicInteractiveElements, #TextStyling, #ModularPatternElements, #sitestructure, #wireframes, #mockup, #Fonts, #Icons,#Images{
	padding-left: 5rem;
}

section{
	padding-top: 3rem;
	padding-bottom: 1rem; 
/*	border-bottom: 0.1rem outset #333333;*/
}


h1,h2,h3{
	font-family:Montserrat, sans-serif;
}

h1{
	font-size:3rem;
	color:#15B890;
	display: block;
}

h2{
	font-size:2rem;
	color:#1573B8;
}

h3{
	font-size:1.5rem;	
}

h4{
	font-size: 1rem;
}


.SideMenu a{
	color:#333333;
	text-decoration: none;
}

.SideMenu a:hover{
	background-color: #15B890;
}


.SideMenu li{
	padding:.5rem; 
}



p{
	width:clamp(45ch, 95%, 85ch);
	font-family: Source Sans Pro;
}

code{
	background-color: white;
	display: block;
	width:clamp(45ch,70%,75ch);
} 

.Wrapper{
	width:clamp(16rem, 90vw, 75rem);
	padding: 1rem;
	background-color: #f2f2f2;
	margin:0 auto;
}

.SideMenu ul{
	list-style-type: none;
}

.SideMenu{
	padding-top: 1.5rem;
}


a.IntextLink:link {
	color:#15B890;
	text-decoration: none;
}

a.IntextLink:hover {
	color:#15B890;
	text-decoration: underline;
}
a.IntextLink:focus {
	color:#1573B8;
}

a.IntextLink:visited {
	color:#1573B8;
}

a.CallToActionButton{
	font-family: Josefin Sans;
}

a.CallToActionButton:link {
	color: #FFFFFF;
	background-color:#15B890;
	border-radius: 1rem;
	padding: .75rem 1rem .5rem 1rem;
	text-decoration: none;
}
/* Learned round corner from W3schools:https://www.w3schools.com/css/css3_borders.asp;*/

a.CallToActionButton:hover {
	color: #FFFFFF;
	background-color:#1AD9AA;
	border-radius: 1rem;
	text-decoration: underline;
}
a.CallToActionButton:focus {
	color:#1573B8;
}

a.CallToActionButton:visited {
	color:#1573B8;
}

button{
	font-family: Josefin Sans;
	margin-top: 1rem;

}

button.SubmitButton{
	background-color: white;
	color: #15B890;
	font-size: 1rem;
	border:none;
	padding: 0.5rem 1rem .25rem 1rem;
	border-radius: 1rem;
	box-shadow:inset 0.05rem -0.2rem 0.4rem 0.04rem #15B890;
}
/*Learned about inner shadow of button from: https://developer.mozilla.org/zh-CN/docs/Web/CSS/box-shadow*/

button.SubmitButton:hover{
	color: #1AD9AA;
	box-shadow:inset 0.05rem -0.2rem 0.4rem 0.04rem #1AD9AA;
}

button.SubmitButton:active{
	color: #15B890;
	box-shadow:inset 0.05rem -0.2rem 0.4rem 0.04rem #333333;
}

button.ResetButton{
	background-color: white;
	color: #1573B8;
	font-size: 1rem;
	border:none;
	padding: 0.5rem 1rem .25rem 1rem;
	border-radius: 1rem;
	box-shadow:inset 0.05rem -0.2rem 0.4rem 0.04rem #1573B8;
}

button.ResetButton:hover{
	color: #46D7F6;
	box-shadow:inset 0.05rem -0.2rem 0.4rem 0.04rem #46D7F6;
}

button.ResetButton:active{
	color: #1573B8;
	box-shadow:inset 0.05rem -0.2rem 0.4rem 0.04rem #333333;
}

label{
	font-family: Montserrat;
	font-size: 1.5rem;
	color: #333333;
}

input[type=text]{
	border: 0.15rem solid #F2F2F2;
	display: block;
	border-radius: .25rem;
	font-family: Source Sans Pro;
	font-size: 1rem;
	height: 40px;
}

input[type=text]:focus{
	outline: none;
	border: 0.15rem solid #15B890;
}

input[type=text]:invalid{
	outline: none;
	border: 0.15rem solid #FF9090;
}

input[type=number]{
  width: 40px;
  height: 40px;
  border: 2px #15B890 solid;
  box-sizing: border-box;
  border-radius: 20px;
}

.PrimaryColour{
	background-color: #15B890;
	color: white;
	padding: 1rem;
}

.SecondaryColour{
	background-color: #1573B8;
	color: white;
	padding: 1rem;
}

.ErrorColour{
	background-color: #FF9090;
	color: white;
	padding: 1rem;
}
.TitleColour{
	background-color: #1D1D1D;
	color: white;
	padding: 1rem;
}
.TextColour{
	background-color: #333333;
	color: white;
	padding: 1rem;
}

.NavigationColour{
	background-color: #34383B;
	color: white;
	padding: 1rem;
}
.BackgroundColour{
	background-color: #F2F2F2;
	border-style: solid;
	border-color: #333333;
	color: #333333;
	padding: 1rem;
}
.SecondaryBackgroundColour{
	background-color: #E7F3FD;
	color: #333333;
	padding: 1rem;
}

ul.ProductBenefit{
	list-style: "- ";
	font-family: Source Sans Pro;
	font-size: 1rem;
}

ol.NumberedList{
	font-family: Source Sans Pro;
	font-size: 1rem;
}

select{
	display: block;
}

footer{
	margin-top: 4rem;
	width:100%;
	background-color: #34383B;
	font-family: Josefin Sans;
	height:26rem;
	text-align: center;
	color: #FFFFFF;
}

footer ul{
	list-style-type: none;
	padding-top: 1.5rem;
}

footer a {
	color:#FFFFFF;
	text-decoration: none;
}

footer a:hover {
	background-color:#15B890;
	color:#34383B;
}
