#ModularPatternElementsT{
	padding-left: 5rem;
}

#ModularPatternElementsT{
	grid-column: 1/9;
}




.gHomepageCard1{
	display: grid;
	grid-template-columns: repeat(10,1fr);
	background-image: url(../img/HomepageCard1.png);
	background-size: auto auto;
	max-width: 100%;
	background-repeat: no-repeat;
	position: relative;
}

.gCard1Content{
	display: grid;
	grid-column: 7/11;
	margin-top: 1rem;
	margin-right: 1rem;
}


@media screen and (max-width:83em){
	#ModularPatternElementsT{
		padding-left: 0;
		grid-column: 1/9;
	}
}


@media screen and (max-width:44em){
}