/*--MainNavigationBar section START--*/

.MainNavigation{
	background-color: #34383B;
	font-size: .3rem;
	font-family: Josefin Sans;
	height: 4.5rem;
	padding-top: 1rem;
	display: grid;
 	grid-template-columns:repeat(9,1fr);
}


.NavigationBar {
    /* Border */   
    display: flex;

    /* Reset list styles */
    list-style-type: none;

}

.NavigationBar li {
    /* Spacing */
    padding: 0.5rem;

    /* Used to position the sub dropdown */
    position: relative;
}

/* The sub dropdown */
.NavigationBar ul {
    /* Border */
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    color:#333333;
    background-color: #f9f9f9;
    box-shadow: 0px 0.5rem 1rem 0px rgba(0,0,0,0.2);
    z-index: 1;

    /* Hidden by default */
    display: none;

    /* Absolute position */
    left: 0;
    position: absolute;
    top: 100%;

    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;

    /* Width */
    /*width: 10rem;*/

}

.DropdownButton {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* The second level sub dropdown */
.NavigationBar ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}

.NavigationBarC2{
  color: #333333;
  padding: 0.45rem .3rem;
  text-decoration: none;
  display: block;
  text-align: left;
  width: max-content;
}

.NavigationBarC3{
  color: #333333;
  padding: 0.3rem .3rem;
  text-decoration: none;
  display: block;
  text-align: left;
  width: max-content;
}

/* Change background color of list item when being hovered */
.NavigationBar li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


/*Changed text color when hover on it*/
.NavigationBar li:hover > a{
    color: #15B890;
}
.NavigationBar li:hover > div a{
    color: #15B890;
}


/* Show the direct sub dropdown when hovering the list item */
.NavigationBar li:hover > ul {
    display: block;
}


/*Learned Drop down menu from https://csslayout.io/patterns/nested-dropdowns/*/


/*--MainNavigationBar section END--*/



/*---Detailed View of Single Product START---*/


.ProductTitle h3{
	margin-bottom: .25rem;
}

.ProductTitle p{
	margin-top: 0;
}


.ProductDetail h4{
	margin-top: .25rem;
	margin-bottom: .25rem;
  display: block;
}

.ProductTitle img{
	margin-top: .25rem;
}

.ProductImage figure{
	margin-left: 0;
}


.ProductPrice button{
	border:none;
	background-color: #F2F2F2;
}

.ProductPrice input[type=number]{
	width:3rem;
	margin-left: .5rem;
	margin-top: 1.7rem;
	border-radius: 60%;
}

.ChangeQuatity{
    margin-left: 2rem;
}

.ChangeQuantity form{
  display: inline-block;
}


.ProductTitle h3{
  width:clamp(20ch, 60%, 85ch);
}

/*--Review Section START--*/


.ProdcutReviews{
  position:relative;
}

.ProductReviewsTitle{
  padding-left: 5.5rem;
  margin-bottom: 1rem;
}

.ReviewSlide{
  display: none;
}


.Previous, .Next{
  cursor:pointer;
  position: absolute;
  top:50%;
  width: auto;
  padding:1rem;
  margin-top: -1.4rem;
  color:black;
  font-weight: bold;
  font-size: 1.25rem;
  transition: 0.6s ease;
  border-radius: 0 0.2rem 0.2rem 0;
  user-select: none;
}

.Next{
  right:0;
  border-radius: 0.25rem 0 0 0.25rem;
}

.ReviewDetailed h3,h4{
  display: inline;
  vertical-align: middle;
}

.HelpfulButtons{
  margin-left: 1rem;
}

.HelpfulButtons button{
  width: 100%;
}

.HelpfulButtons h3{
  margin-bottom: 0;
}

.RatingStars{
  display: inline;
  vertical-align: middle;
  color: #DA9B72;
  font-size: 1.5rem;
}

/*--Review Section END--*/

/*--Detailed View of Single Product END--*/


/*--Check Out Module Process 2 START--*/

#deliverytype{
  border: 0.15rem solid #F2F2F2;
  display: block;
  border-radius: .25rem;
  font-family: Source Sans Pro;
  font-size: 1rem;
  height: 40px;
} 

#deliverytype:focus{
  outline: none;
  border: 0.15rem solid #15B890;
}

.BillingInformation{
  display: grid;
  grid-template-columns: repeat(9,1fr);
}

/*--Check Out Module Process 2 END--*/




/*--shopping cart one row 2 Start--*/
.ShoppingCartQuantityButton{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-start: 5;
  grid-column-end: 6;
  align-self: center;
}

.ShoppingCartQuantityButton button{
  border:none;
  background-color: #F2F2F2;
}

.ShoppingCartQuantityButton input[type=number]{
  width:3rem;
  margin-left: .5rem;
  margin-top: 1.7rem;
  border-radius: 60%;
}

.ShoppingCartProductGrid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: center;
}

.ShoppingCartPatternGrid{
  display: grid;
  grid-template-columns: repeat(8,1fr);
}

.ShoppingCartProductImage{
    max-width:100%;
  height:auto;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ShoppingCartProductInformation{
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 5;
}

.ShoppingCartProductPrice{
  align-self: center;
  grid-column-start: 7;
  grid-column-end: 8;
}
.ShoppingCartRemoveButton{
    align-self: center;
}

@media screen and (max-width:57em){
    .ShoppingCartQuantityButton{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: none;
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start:1;
    grid-row-end:7;
    justify-self: center;
  }

  .ShoppingCartProductGrid{
    display: grid;
    grid-template-columns: none;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start:1;
    grid-row-end:5;
    align-self: start;
  }
    .ShoppingCartPatternGrid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
  }

    .ShoppingCartProductInformation{
    grid-column-start: 4;
    grid-column-end: 7;
    align-self: start;
  }

  .ShoppingCartProductPrice{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start:6;
    grid-row-end:7;
    align-self: start;
  }
  .ShoppingCartRemoveButton{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:6;
    grid-row-end:7;
    justify-self: center;
  }

  .ShoppingCartProductImage{
    max-width:100%;
    height:auto;
    grid-column-start: 1;
    grid-column-end: 3;
  }

}
/*--shopping cart one row 2 END--*/

/*------------------For Homepage Cards-------------------*/
#card1title{
  color: #ffffff;
  text-align: center;
  margin-bottom: .5rem;
}

#card1text{
  color: #ffffff;
  font-size: 20pt;
  font-weight: 300;
  width:auto;
  text-align: center;
}
/* --- End --- */


