body{
	margin: 0;
}
*{
	box-sizing: border-box;
}



/* Footer start */

footer{
	margin: 0;
	bottom: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 9.625rem 1fr 1fr 1fr 2rem;
	font-family: Josefin Sans;
}


.Footer-Social-Media{
	margin:1rem 0;
}

.Footer-Logo{
	margin-top: 5rem;
	width: 50%;
	height: auto;
}

footer .FooterAboutUs{
	display: block;
	grid-column: 2/3;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

footer .FooterLink{
	margin-left: 2rem;
	display: block;
	grid-column: 3/4;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
footer .FooterFollowUs{
	margin-left: 10rem;
	display: block;
	grid-column: 4/5;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

footer a{
	text-decoration: none;
}
footer .FooterTitle{
	display: block;
	font-family: Josefin Sans;
	font-size: 1rem;
	padding-bottom: 1.5rem;
}

.Footer-Facebook{
	margin-right: 1rem;
}
.Footer-Instgram{
	margin-right: 1rem;
}
.Footer-Youtube{
	margin-right: 1rem;
}
.Footer-Linkedin{
	margin-right: 1rem;
}

footer ul li a{
	word-break: break-all;
}
@media screen and (max-width:70rem){
	footer{
		grid-template-columns:9.625rem 1fr 2rem;
	}

	footer .FooterAboutUs{
		margin-left: 0rem;
		display: block;
		grid-column: 2/3;
		margin-top: 3rem;
		margin-bottom: 1rem;
	}

	footer .FooterLink{
		margin-left: 0rem;
		display: block;
		grid-column: 2/3;
		margin-top: 3rem;
		margin-bottom: 1rem;
	}
	footer .FooterFollowUs{
		margin-left: 0rem;
		display: block;
		grid-column: 2/3;
		margin-top: 3rem;
		margin-bottom: 1rem;
	}

	footer .FooterTitle{

		padding-bottom: 1rem;
	}
}

@media screen and (max-width:35rem){
	footer{
		grid-template-columns:1.5rem 1fr 2rem;
	}
}

/* Footer end */

/* reference start */
.Reference-Ul ul li a{
	word-break: break-all;
}
/* reference end */


.GridContainer{
	display: grid;
	grid-template-columns:repeat(8,1fr);
	grid-template-rows:10rem 1fr;
	min-height:100vh;
}

.Title{
	grid-column-start: 1;
	grid-column-end: 9;
}

body{
	margin:0;
}

.Wrapper{
	padding-top: 4rem;
}


/* Account page grid start */

.ToggleSideBar{
	display: none;
}

.Account-Title{
	margin-top: 3rem;
}

.Account-Grid-Container{
	display: grid;
	grid-template-columns: repeat(8,1fr);
	min-height: 100vh;
}

.Account-Side-Bar{
	position: fixed;
	margin-top: 4rem;
	margin-right: 2rem;
	padding-left: 2rem;
	grid-column: 1/4;
	max-width: 30%;
	padding-right: 7rem;
	padding-bottom: 3rem;
}

#Account-Personal-Information{
	display: grid;
	margin-top: 4rem;
	padding: 4rem 2rem;
	grid-column: 4/9;
}

#Account-Furry-Information{
	display: grid;
	margin-top: 3rem;
	padding: 4rem 2rem;
	grid-column: 4/9;
}

#Account-Billing-Information{
	display: grid;
	margin-top: 3rem;
	padding: 4rem 2rem;
	grid-column: 4/9;

}
#Account-Shipping-Information{
	display: grid;
	margin-top: 3rem;
	padding: 4rem 2rem;
	grid-column: 4/9;
}
#Account-Payment-Information{
	display: grid;
	margin-top: 3rem;
	padding: 4rem 2rem;
	grid-column:4/9;
}

.Account-Button{
	justify-self: center;
	margin-bottom: 2rem;
}

.wrap-1{
		display: none;
		position: 
	}
	.wrap-2{
		display: none;
	}
	.wrap-3{
		display: none;
	}
	.wrap-4{
		display: none;
	}
	.wrap-5{
		display: none;
	}
	.wrap-6{
		display: none;
	}

@media screen and (max-width:60rem){
	.Account-Grid-Container{
		display: grid;
		grid-template-columns: repeat(8,1fr);
		min-height: 5vh;
	}

	.wrap-1{
		display: block;
	}
	.wrap-2{
		display: block;
	}
	.wrap-3{
		display: block;
	}
	.wrap-4{
		display: block;
	}
	.wrap-5{
		display: block;
	}
	.wrap-6{
		display: block;
	}


	.Account-Side-Bar{
		position: none;
		display: none;
	}


	#Account-Personal-Information{
		display: none;
	}

	#Account-Furry-Information{
		display: none;
	}

	#Account-Billing-Information{
		display: none;

	}
	#Account-Shipping-Information{
		display: none;
	}
	#Account-Payment-Information{
		display: none;
	}
}

/* Account page grid end */


/* Check out page grid START */
.CheckOut-Title{
	margin-top: 3rem;
}

/*Progess bar start*/
.ProgressBar{
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr 1.5fr 1fr 1.5fr 1fr 1.5fr 1fr;
	grid-template-rows:1fr 1fr;
	justify-content: center;

}
.ProgressBar .ProgressLine{
	align-self: center;
	justify-self:center;
	margin: 0 0.5rem 0rem 0.5rem;
	width: 100%;
	height: auto;
}

.ProgressBar .ProgressCount{
	justify-self:center;
	align-self: center;
	width: 40%;
	height: auto;
}

.ProgressBar .OnProgress{
	width:55%;
}

.ProgressBar h4{
	color: #BDBDBD;
}

.ProgressSignIn{
	grid-row:2/3;
	grid-column: 1/2;
	justify-self: center;
	margin: 0;
}

.ProgressAddress{
	grid-row:2/3;
	grid-column: 3/4;
	justify-self: center;
	margin: 0;
}

.ProgressPayment{
	grid-row:2/3;
	grid-column: 5/6;
	justify-self: center;
	margin: 0;
}

.ProgressConfirm{
	grid-row:2/3;
	grid-column: 7/8;
	justify-self: center;
	margin: 0;
}

.ProgressDone{
	grid-row:2/3;
	grid-column: 9/10;
	justify-self: center;
	margin: 0;
}

.ProgressBar .Finish{
	color:#15B890;
}

.ProgressBar .On{
	margin-top: .5rem;
	font-size: 137.5%;
	color:#15B890;
}


@media screen and (max-width:37rem){
	.ProgressBar{
		grid-template-rows:1fr;
	}
	.ProgressSignIn{
		display: none;
	}

	.ProgressAddress{
		display: none;
	}

	.ProgressPayment{
		display: none;
	}

	.ProgressConfirm{
		display: none;
	}

	.ProgressDone{
		display: none;
	}


	/*	Shopping Cart Section START*/


	/*	Shopping Cart Section END*/
}


/*Progess bar end*/
.CheckOut-Grid-Container{
	position: relative;
}

.CheckOut-Side-Bar .checkoutNum{
	position: absolute;
	top: 19rem;
	left:8rem;
}
.CheckOut3-Side-Bar .checkoutNum{
	position: absolute;
	top: 9.75rem;
	left:8rem;
}



.CheckOut-Grid-Container .CheckOut-Side-Bar{
	position: absolute;
	display: inline-block;
	right:0rem;
	margin: 4rem 0;
	width: 30%;
}
.CheckOut-Grid-Container .CheckOut3-Side-Bar{
	position: absolute;
	display: inline-block;
	right:0rem;
	margin: 4rem 0;
	width: 30%;
}

.CheckOut-Grid-Container .CheckOut1-Billing-Information{
	display: inline-block;
	position: relative;
	left:0rem;
	margin-top: 4rem;
	margin-right: 2rem;
	padding: 4rem 2rem;
	width: 67%;
}


.Checkout2PaymentInformation{
	background: #F2F2F2;
	display: inline-block;
	position: relative;
	left:0rem;
	margin-top: 4rem;
	margin-right: 2rem;
	padding: 4rem 2rem;
	width: 67%;
}


.CheckOut-Button{
	justify-self: center;
}

.Back{
	display: inline-block;
	position: relative;
	margin: 3rem 0;
	right: 0;
}

.CheckOutNext{
	display: inline-block;
	position: relative;
	float: right;
	margin: 3rem 0;
	right: 0;
}

   @media screen and (max-width:1285px){
   		.CheckOut-Side-Bar .checkoutNum {
		    top: 20.75rem;
		}
		.CheckOut3-Side-Bar .checkoutNum {
		    top: 9.75rem;
		}
   }

   

@media screen and (max-width:63rem){
	.CheckOut-Side-Bar .checkoutList{
		display: inline-block;
	}

	.CheckOut-Side-Bar .checkoutNum{
		position: absolute;
		display: inline-block;
		top:0;
		left:50%;
		padding-top: 19rem;
	}

	.CheckOut-Grid-Container .CheckOut-Side-Bar{
		position: relative;
		display: block;
		right:0rem;
		margin: 4rem 0;
		width: 100%;
	}

	.CheckOut3-Side-Bar .checkoutList{
		display: inline-block;
	}

	.CheckOut3-Side-Bar .checkoutNum{
		position: absolute;
		display: inline-block;
		top:0;
		left: 40%;
    	padding-top: 9.75rem;
	}

	.CheckOut-Grid-Container .CheckOut3-Side-Bar{
		position: relative;
		display: block;
		right:0rem;
		margin: 4rem 0;
		width: 100%;
	}

	.CheckOut-Grid-Container .CheckOut1-Billing-Information{
		display: block;
		position: relative;
		left:0rem;
		margin-top: 4rem;
		margin-right: 2rem;
		padding: 4rem 2rem;
		width: 100%;
	}

	.CheckOut2-Code-Information{
		display: block;
		position: relative;
		left:0rem;
		margin-top: 4rem;
		margin-right: 2rem;
		padding: 4rem 2rem;
		width: 100%;
	}

	.Checkout2PaymentInformation{
		display: block;
		position: relative;
		left:0rem;
		margin-top: 4rem;
		margin-right: 2rem;
		padding: 4rem 2rem;
		width: 100%;
	}

}

@media screen and (max-width:575px){
   		.CheckOut-Side-Bar .checkoutNum {
		    padding-top: 16.75rem;
		}
		.CheckOut3-Side-Bar .checkoutNum {
		    padding-top: 7.25rem;
		}
	}

@media screen and (max-width:369px){
   		.CheckOut-Side-Bar .checkoutNum {
		    padding-top: 18.25rem;
		}
	}




/* Check out page grid end */






/* --- Detailed View of Single Product START---*/

.BreadCrumbs{
	grid-column: 1/9;
}
/*---Basic Information of Product Section START---*/
.ProductDetailedViewGridContainer{
	display: grid;
	grid-template-columns:repeat(8,1fr);
	grid-template-rows:4rem 1fr .5fr .5fr 1fr;
	min-height:100vh;
}

.ProductDetailed{
	grid-column-start: 1;
	grid-column-end: 9;
	display: grid;
	grid-template-columns:repeat(2,1fr);
	grid-gap: 5rem;
	padding-left: 8rem;
	padding-right: 8rem;
}

.ProductImage{
	grid-column:1; 
}

.ProductDetailedList{
	grid-column:2;
}

.ProductPrice{
	display: grid;
	grid-template-columns:repeat(6,1fr);
	padding-top: -1rem;
}

.ChangeQuantity{
	grid-column: 1/4;
}

.AddToCart{
	grid-column:4/7; 

}

a.CallToActionButton{
	grid-column:1/6; 
	text-align: center;
}

/*---Basic Information of Product Section END---*/

/*---Product Detailed Information Section START---*/
.ProductDetailedInformation{
	grid-column: 1/9;
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 2rem 1fr;
}

.InformationTab{
	text-decoration: underline;
}

.ProductDescription{
	grid-column: 2/9;
	padding-left: 2rem;
}

/*---Product Detailed Information Section END---*/

/*---Product Review Section START---*/
.ProdcutReviews{
	grid-column: 1/9;
}

.ReviewSlide{
	display: grid;
	grid-template-columns: 1fr 4.5fr 1fr .5fr;
}

.ReviewDetailed{
	grid-column: 2;
}
.RatingHelpful{
	grid-column: 2;
}

.HelpfulButtons{
	grid-column: 3;
}

/*---Product Review Section END---*/


/*------------------For Product List-------------------*/
.gProductListRow{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 1rem;
}
.gProductListItem1{
	display: block;
	grid-column: 1/2;
}
.gProductListItem2{
	display: block;
	grid-column: 2/3;
}
.gProductListItem3{
	display: block;
	grid-column: 3/4;
}
.gProductListItem4{
	display: block;
	grid-column: 4/5;
}
/* --- ProductList End --- */
/*------------------For Recommendation Product List-------------------*/
.RecommandationList{
	grid-column: 1/9;
}
.gRProductListRow{
	display: grid;
	grid-template-columns: .3fr 1fr 1fr 1fr 1fr .3fr;
	grid-gap: 1rem;
}


.RPrevious{
	grid-column: 1;
}

.gRProductListItem1{
	display: block;
	grid-column: 2/3;
}
.gRProductListItem2{
	display: block;
	grid-column: 3/4;
}
.gRProductListItem3{
	display: block;
	grid-column: 4/5;
}
.gRProductListItem4{
	display: block;
	grid-column: 5/6;
}

.RNext{
	grid-column: 6/7;
}

.gSwitchItem{
	display: grid;
	grid-template-columns: 1fr 12fr 1fr;
	grid-gap: 1rem;
}

#recom-list{
	grid-column: 2/3;
}

.gLeftArrow, .gRightArrow{
	padding-top: 5rem;
}

.gLeftArrow{
	padding-right: 3.75rem;
}

.gRightArrow{
	padding-left: 3.75rem;
}
/* --- Recommendation Product List End --- */
/*---Recommandation List Section END---*/

/*---Purchase History and Shopping Cart Section START---*/
.PurchaseHistoryShoppingCartGridContainer{
	display: grid;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows:6rem 5rem 1fr 1fr 1fr;
	min-height:100vh;
}
.ShoppingCartPatternGridHeaderDate{
	grid-column: 6;
	margin-left: 5rem;
}

.ShoppingCartPatternGridHeaderTotal{
	grid-column: 7;
	padding-left: 1rem;
}

.ShoppingCartSmall{
	display: none;
}

.ReviewSubmissionSection{
	position: sticky;
	grid-column: 3;
	grid-row: 3/5;
	margin-left:3rem; 
	display: grid;
	grid-template-rows: 1fr 1fr;

}

.ShoppingCartCheckOutForm{
	grid-column: 3;
	grid-row: 3/5;
	margin-left:3rem; 
	align-items: center;
}



.ShoppingCartSubTotal{
	padding-top: 2rem;
	display: grid;
	grid-template-columns: .5fr 1fr 1fr .5fr;
}

.SubTotalHeadings{
	grid-column: 2;
}

.SubTotalPrice{
	grid-column: 3;
	padding-left: 3rem;
}




/*---Purchase History and Shopping Cart Section END---*/

/*--- Detailed View of Single Product END ---*/

@media screen and (max-width:83em){
	.GridContainer{
		grid-template-rows: 1fr 1fr 1fr;
	}


	.SideMenu{
		padding-top: 0;
		grid-column: 1/9;
	}

	.SideMenu li{
		display: inline-block;
	}

	#BasicInteractiveElements, #TextStyling, #ModularPatternElements, #sitestructure, #wireframes, #mockup, #Fonts, #Icons, #Images{
		padding-left: 0;
		grid-column: 1/9;
	}


	/*------------------For Homepage Cards-------------------*/

	#ModularPatternElementsT{
		padding-left: 0;
		grid-column: 1/9;
	}

	.gCard1Content{
		padding-top: 2rem;
	}

	/* --- Homepage Cards End --- */
}

@media screen and (max-width:57em){
	.Menu{
		grid-column:2/8;
		margin-left: 2.5rem;
	}

	/*------------------For Homepage Cards-------------------*/
	#card1title{
		font-size: 18pt;
	}
	#card1text{
		font-size: 16pt;
	}
	.gCard1Content{
		grid-column: 8/15;
		margin-top: 1.5rem;
		margin-left: 1rem;
		margin-right: .5rem;
		padding-top: 1.5rem;
	}
	/* --- Homepage Cards End --- */

	/* --- Shopping Cart START --- */

	.PurchaseHistoryShoppingCartGridContainer{
		grid-template-columns:1fr 1fr;
		grid-template-rows:4rem 1rem 2fr 2fr 2fr 1fr;
	}

	.ShoppingCartPatternGridHeader{
		display: none;
	}

	.ShoppingCartSmall{
		display: inline;
	}

	.ShoppingCartPatternGrid{
		display: grid;
		grid-template-columns: repeat(6,1fr);
		grid-template-rows: 1fr .5fr;
	}

	.ShoppingCartProductImage{
		grid-column:1/4;
		grid-row: 1;
		padding-top: 0;
	}

	.ShoppingCartProductImage img{
		width: 100%;
		height: 100%;
	}

	.ShoppingCartProductInformation{

		grid-column:4/7;
		grid-row: 1;
	}

	.ShoppingCartQuantityButton{

		grid-column: 2/3;
		grid-row:2;
		grid-template-rows: 1fr;
	}

	.PurchaseHistoryDate{
		grid-column: 2/3;
		grid-row:2;
		grid-template-rows: 1fr;

	}

	.ChangeQuantity{
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: repeat(3, 1fr);
	}

	.MinusButton{
		grid-column-start: 1;
	}

	.InputArea{
		grid-column-start: 2;
	}

	#count{
		margin: 0 0 0 .5rem;
	}

	#count1{
		margin: 0 0 0 .5rem;
	}

	#count2{
		margin: 0 0 0 .5rem;
	}

	.PlusButton{
		grid-column-start:  3;
	}

	.ShoppingCartProductPrice{
		grid-column:4;
	}
	.ShoppingCartRemoveButton{
		grid-column:5;
	}


	/* --- Shopping Cart END --- */


}

@media screen and (max-width:71em){
	.PurchaseHistoryShoppingCartGridContainer{
		grid-template-columns:1fr 1fr;
		grid-template-rows:6rem 5rem 1fr 1fr 1fr 2.5fr;
	}

	.ShoppingCartPatternGrid{
		grid-column: 1/3;
	}

	.ReviewSubmissionSection{
		margin-top: 2rem;
		grid-column: 1/3;
		grid-row: 6;
		margin-left:3rem; 
	}

	.ShoppingCartCheckOutForm{
		margin-top: 2rem;
		grid-column: 1/3;
		grid-row: 6;
		margin-left:3rem; 
		padding-bottom: 1rem;
		margin-bottom: 1rem;
	}

	.ShoppingCartProductImage{
		margin-top: auto;
		margin-bottom: auto;
	}





}

@media screen and (max-width:70em){

	.Wrapper{
		overflow: hidden;
	}

	.ProductDetailedViewGridContainer{
		display: grid;
		grid-template-columns:repeat(8,1fr);
		grid-template-rows:4rem .1fr .3fr .3fr .3fr;
		min-height:100vh;
	}


	.ProductDetailed{
		display: grid;
		grid-template-rows: .5fr .5fr;
		grid-gap: .3rem;
		padding-left: 4rem; 
		padding-right: 4rem;
	}
	.ProductDetailedList{
		grid-column: 1/3;
		padding-left: 3rem;
	}
	.ProductImage{
		grid-column: 1/3;
		padding-bottom: 2rem;
	}


	.InformationTabs{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.ProductDescription{
		grid-column: 2/9;
	}



	[role="tablist"] {
		padding: 0;
	}


	.InformationTabs section{
		padding-left: 1rem;
	}

	[role="tablist"] li, [role="tablist"] a {
		display: block;
		position: static;
	}

	[role="tablist"] a {
		border: 2px solid #222 !important;
	}

	[role="tablist"] li + li a {
		border-top: 0 !important;
	}

	[role="tablist"] [aria-selected] {
		position: static;
	}

	[role="tablist"] [aria-selected]::after {
		content: '\0020⬅';
	}

	[role="tabpanel"] {
		border-top: 0;
	}



	.ReviewSlide{
		grid-template-rows: 1fr 1fr;
	}

	.ReviewDetailed{
		grid-column: 2/4;
	}


	.HelpfulButtons{
		grid-column: 2;
	}

	.HelpfulButtons h3{
		text-align: center;
	}

	p{
		width:clamp(20ch, 90%, 55ch);
	}


	header {
		font-size: 1rem;
	}

	header ul {
		overflow: hidden;
	}

	.NavigationBar li:hover > ul {
		display: none;
	}




	/*------------------For Product List-------------------*/
	.gProductListRow{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(2,1fr);
		grid-gap: 1rem;
	}
	.gProductListItem1{
		display: block;
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.gProductListItem2{
		display: block;
		grid-column: 2/3;
		grid-row: 1/2;
	}
	.gProductListItem3{
		display: block;
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.gProductListItem4{
		display: block;
		grid-column: 2/3;
		grid-row: 2/3;
	}
	/* --- Product List End --- */
	/*------------------For Recommendation Product List-------------------*/
	
/*	.gLeftArrow, .gRightArrow{
		padding-top: 10rem;
		}*/

		.gRProductListRow{
			display: grid;
			grid-template-columns: .3fr 1fr .3fr;
			grid-template-rows: repeat(4,1fr);
			grid-gap: 1rem;
		}
		.gRProductListItem1{
			display: block;
			grid-column: 2/3;
			grid-row: 1/2;
		}
		.gRProductListItem2{
			display: block;
			grid-column: 2/3;
			grid-row: 2/3;
		}
		.gRProductListItem3{
			display: block;
			grid-column: 2/3;
			grid-row: 3/4;
		}
		.gRProductListItem4{
			display: block;
			grid-column: 2/3;
			grid-row: 4/5;
		}

		.RPrevious{
			display: block;
			grid-column: 1/2;
			grid-row: 4/5;
		}

		.RNext{
			display: block;
			grid-column: 3/4;
			grid-row: 4/5;
		}


		/* --- Recommendation Product List End --- */
	}

	@media screen and (max-width:35em){
		.ProductDetailed{
			padding: 0;
		}
	}


	/*--PageNavigationBarToggleMenuSize--*/

	@media (min-width: 65em) {
		header>li {
			float: left;
		}
		header li a {
			padding: 1.25rem 2rem;
		}
		header .TopNavigationList {
			clear: none;
			float: right;
			max-height: none;
		}
		header .ToggleMenuIcon {
			display: none;
		}
		header .SmallFormat{
			display: none;
		}

	}

	@media(max-width: 57em){
		.AddToCart{
			grid-column-start: 1;
		}
		h3.ProductSectionTitle{
			padding-left: 2rem;
		}
	}


	@media(max-width: 36em){
		h1{
			font-size: 1.125rem;
			font-weight:bold;
		}
		h2{
			font-size: 1.125rem;
		}
		h3{
			font-size: 1rem;
		}
		p{
			font-size: 1rem;
		}
		.AddToCart{
			grid-column-start: 1;
		}
		h3.ProductSectionTitle{
			padding-left: 2rem;
		}
	}




	@media (max-width: 30em) {

		/*		ProductDetailPage START*/
		.ProductImage figure img{
			width: 100%;
			height: 100%;
		}

		.ProductImage figure{
			margin:1rem;
		}

		.ProductDetailedList{
			padding: 0 2rem;
		}

		.AddToCart{
			display: block;
		}
		.ChangeQuantity{
			display: block;
		}
		.ProductPrice{
			display: block;
		}
		h3.ProductSectionTitle{
			padding:0 1rem;
		}
		.Previous, .Next{
			padding:0;
		}
		.gLeftArrow {
			padding:0;
		}
		.gRightArrow{
			padding:0;
		}
		.RevewDetailed h4{
			font-size: .8rem;
		}
		#recom-list{
			grid-gap: 0;
		}
		#recom-list figure a img{
			width: auto;
		}
		.ProductDetailedViewGridContainer {
			grid-template-rows: 4rem .2fr .25rem .1fr .15fr .8fr;
		}
		.ProductDetailedViewGridContainer .RecommandationList{
			margin:0;
		}
		.ProdcutReviews{
			margin:2rem 1rem;
		}
		.ReviewDetailed h3,h4{
			display: inline-block;
			margin:.25rem 0;
		}
		.Wrapper{
			width:clamp(16rem, 100vw, 75rem);
			margin:0 auto;
		}
		.InformationTabs{
			grid-column: 1/9;
			padding: 0 1rem 0 0;
			margin-bottom: 1rem;
		}
		#section1, #section2, #section3, #section4{
			padding-left: 1rem;
			margin-left: 1rem;
		}
		#section3 ul.ProductInformation{
			padding-left: 1rem;
		}
		#section4 ul.ProductInformation{
			padding-left: 1rem;
		}
		.ReviewSlide{
			grid-template-rows: 1fr .5fr;
		}


		/*---Shopping Cart and Purchase History Section START---*/

		.PurchaseHistoryShoppingCartGridContainer{
			grid-template-columns:1fr 1fr;
			grid-template-rows:2rem 2rem .5fr .5fr .5fr .5fr;
		}

		.PurchaseHistoryShoppingCartGridContainer h1{
			padding-left: 2rem;
		}

		.ShoppingCartPatternGrid{
			margin:0 2rem 0 2rem;
			display: grid;
			grid-template-columns: repeat(2,1fr);
			grid-template-rows: 1fr .5fr .25fr .25fr;
		}

		.ShoppingCartProductImage{
			grid-column:1/3;
			grid-row: 1;
			padding-top: 0;
			align-self: center;
		}

		.ShoppingCartProductImage img{
			width: 100%;
			height: 100%;
		}

		.ShoppingCartProductInformation{

			grid-column:1/3;
			grid-row: 2;
			text-align: center;
		}

		.ShoppingCartQuantityButton{

			grid-column: 1/3;
			grid-row:3;
			grid-template-rows: 1fr;
		}

		.PurchaseHistoryDate{
			grid-column: 1/3;
			grid-row:3;
			grid-template-rows: 1fr;
			text-align: center;
		}

		.PurchaseHistoryDate p{
			margin:0;
		}


		.ChangeQuantity{
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: repeat(3, 1fr);
		}

		.MinusButton{
			grid-column-start: 1;
		}

		.InputArea{
			grid-column-start: 2;
		}

		#count{
			margin: 0 0 0 .5rem;
		}

		#count1{
			margin: 0 0 0 .5rem;
		}

		#count2{
			margin: 0 0 0 .5rem;
		}

		.PlusButton{
			grid-column-start:  3;
		}

		.ShoppingCartProductPrice{
			grid-column:1/2;
			grid-row: 4;
			text-align: center;
		}
		.ShoppingCartRemoveButton{
			grid-column:2/3;
			grid-row: 4;
		}

		.ShoppingCartCheckOutForm{
			margin:0 1rem;
		}

		.ShoppingCartCheckOutButton{
			padding:0 3rem;
		}

		.ReviewSubmissionSection{
			margin: 1rem 1rem 0 1rem;
		}

		.ReviewProductInformation p{
			display: inline-block;
		}

		/*---Shopping Cart and Purchase History Section END---*/

	}
