body{
	margin: 0;
}
*{
	box-sizing: border-box;
}



/* Footer start */

footer{
	margin: 0;
	bottom: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 9.625rem 1fr 1fr 1fr 2rem;
	font-family: Josefin Sans;
}


.Footer-Social-Media{
	margin:1rem 0;
}

.Footer-Logo{
	margin-top: 5rem;
	width: 50%;
	height: auto;
}

footer .FooterAboutUs{
		display: block;
		grid-column: 2/3;
		margin-top: 5rem;
		margin-bottom: 5rem;
}

footer .FooterLink{
	margin-left: 2rem;
display: block;
		grid-column: 3/4;
		margin-top: 5rem;
		margin-bottom: 5rem;
}
footer .FooterFollowUs{
	margin-left: 10rem;
display: block;
		grid-column: 4/5;
		margin-top: 5rem;
		margin-bottom: 5rem;
}

footer a{
	text-decoration: none;
}
footer .FooterTitle{
	display: block;
		font-family: Josefin Sans;
	font-size: 1rem;
	padding-bottom: 1.5rem;
}

.Footer-Facebook{
	margin-right: 1rem;
}
.Footer-Instgram{
margin-right: 1rem;
}
.Footer-Youtube{
	margin-right: 1rem;
}
.Footer-Linkedin{
	margin-right: 1rem;
}

footer ul li a{
	word-break: break-all;
}
@media screen and (max-width:70rem){
	footer{
	grid-template-columns:9.625rem 1fr 2rem;
}

footer .FooterAboutUs{
	margin-left: 0rem;
		display: block;
		grid-column: 2/3;
		margin-top: 3rem;
		margin-bottom: 1rem;
}

footer .FooterLink{
	margin-left: 0rem;
display: block;
		grid-column: 2/3;
		margin-top: 3rem;
		margin-bottom: 1rem;
}
footer .FooterFollowUs{
	margin-left: 0rem;
display: block;
		grid-column: 2/3;
		margin-top: 3rem;
		margin-bottom: 1rem;
}

footer .FooterTitle{

	padding-bottom: 1rem;
}
}

@media screen and (max-width:35rem){
	footer{
	grid-template-columns:1.5rem 1fr 2rem;
}
}

/* Footer end */

/* reference start */
.Reference-Ul ul li a{
	word-break: break-all;
}
/* reference end */


.GridContainer{
	display: grid;
	grid-template-columns:repeat(8,1fr);
	grid-template-rows:10rem 1fr;
	min-height:100vh;
}

.Title{
	grid-column-start: 1;
	grid-column-end: 9;
}

body{
	margin:0;
}

.Wrapper{
	padding-top: 4rem;
}


/* Account page grid start */

.ToggleSideBar{
	display: none;
}

.Account-Title{
	margin-top: 3rem;
}

.Account-Grid-Container{
	display: grid;
	grid-template-columns: repeat(8,1fr);
	min-height: 100vh;
}

.Account-Side-Bar{
	margin-top: 4rem;
	margin-right: 2rem;
	padding-left: 2rem;
	grid-column: 1/4;
}

#Account-Personal-Information{
	display: grid;
	margin-top: 4rem;
	padding: 4rem 2rem;
	grid-column: 4/9;
}

#Account-Furry-Information{
	display: grid;
	margin-top: 3rem;
	padding: 4rem 2rem;
	grid-column: 4/9;
}

#Account-Billing-Information{
	display: grid;
	margin-top: 3rem;
	padding: 4rem 2rem;
	grid-column: 4/9;

}
#Account-Shipping-Information{
	display: grid;
	margin-top: 3rem;
	padding: 4rem 2rem;
	grid-column: 4/9;
}
#Account-Payment-Information{
	display: grid;
	margin-top: 3rem;
	padding: 4rem 2rem;
	grid-column:4/9;
}

.Account-Button{
	justify-self: center;
	margin-bottom: 2rem;
}

@media screen and (max-width:60rem){

	.ToggleSideBar{
		display: block;
	}

	.Account-Side-Bar{
		display: none;
	}


	#Account-Personal-Information{
		display: grid;
		margin-top: 4rem;
		padding: 4rem 2rem;
		grid-column: 2/9;
	}

	#Account-Furry-Information{
		display: grid;
		margin-top: 3rem;
		padding: 4rem 2rem;
		grid-column: 2/9;
	}

	#Account-Billing-Information{
		display: grid;
		margin-top: 3rem;
		padding: 4rem 2rem;
		grid-column: 2/9;

	}
	#Account-Shipping-Information{
		display: grid;
		margin-top: 3rem;
		padding: 4rem 2rem;
		grid-column: 2/9;
	}
	#Account-Payment-Information{
		display: grid;
		margin-top: 3rem;
		padding: 4rem 2rem;
		grid-column:2/9;
	}
}

/* Account page grid end */


/* Check out page grid START */
.CheckOut-Title{
	margin-top: 3rem;
}


.CheckOut-Grid-Container{
	display: grid;
	grid-template-columns: repeat(8,1fr);
	min-height: 100vh;
}

.ProgressBar{
	grid-column: 1/9;
}

.ProgressBar img{
	width: 100%;
	height: auto;
}


.CheckOut-Side-Bar{
	margin-top: 4rem;
	grid-column: 7/9;
}

.CheckOut1-Billing-Information{
	margin-top: 4rem;
	margin-right: 2rem;
	padding: 4rem 2rem;
	grid-column: 1/7;
}

.CheckOut2-Code-Information{
	display: block;
	background: #F2F2F2;
	margin-top: 4rem;
	margin-right: 2rem;
	padding: 4rem 2rem;
	grid-column: 1/7;
}

.Checkout2PaymentInformation{
	display: block;
	background: #F2F2F2;
	margin-top: 4rem;
	margin-right: 2rem;
	padding: 4rem 2rem;
	grid-column: 1/7;
}


.CheckOut-Button{
	justify-self: center;
}

.Back{
	margin-top: 3rem;
	grid-column: 1/3;
}

.CheckOutNext{
	margin-top: 3rem;
	justify-self:end;
	grid-column: 7/9;
}


@media screen and (max-width:60rem){



	.CheckOut-Side-Bar{
		margin-top: 4rem;
		padding-left: 2rem;
		grid-column: 1/9;
	}

	.CheckOut1-Billing-Information{
		display: grid;
		margin-top: 3rem;
		margin-right: 0rem;
		padding: 4rem 2rem;
		grid-column: 1/9;

	}

	.CheckOut2-Code-Information{
		display: grid;
		margin-top: 3rem;
		margin-right: 0rem;
		padding: 4rem 2rem;
		grid-column: 1/9;

	}

	.Checkout2PaymentInformation{
		display: grid;
		margin-top: 3rem;
		margin-right: 0rem;
		padding: 4rem 2rem;
		grid-column: 1/9;
	}
}


/* Check out page grid end */






/* --- Detailed View of Single Product START---*/

.BreadCrumbs{
	grid-column: 1/9;
}
/*---Basic Information of Product Section START---*/
.ProductDetailedViewGridContainer{
	display: grid;
	grid-template-columns:repeat(8,1fr);
	grid-template-rows:4rem 1fr .5fr .5fr 1fr;
	min-height:100vh;
}

.ProductDetailed{
	grid-column-start: 1;
	grid-column-end: 9;
	display: grid;
	grid-template-columns:repeat(2,1fr);
	grid-gap: 5rem;
	padding-left: 8rem;
	padding-right: 8rem;
}

.ProductImage{
	grid-column:1; 
}

.ProductDetailedList{
	grid-column:2;
}

.ProductPrice{
	display: grid;
	grid-template-columns:repeat(6,1fr);
	padding-top: -1rem;
}

.ChangeQuantity{
	grid-column: 1/4;
}

.AddToCart{
	grid-column:4/7; 

}

a.CallToActionButton{
	grid-column:1/6; 
	text-align: center;
}

/*---Basic Information of Product Section END---*/

/*---Product Detailed Information Section START---*/
.ProductDetailedInformation{
	grid-column: 1/9;
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 2rem 1fr;
}

.InformationTab{
	text-decoration: underline;
}

.ProductDescription{
	grid-column: 2/9;
	padding-left: 2rem;
}

/*---Product Detailed Information Section END---*/

/*---Product Review Section START---*/
.ProdcutReviews{
	grid-column: 1/9;
}

.ReviewSlide{
	display: grid;
	grid-template-columns: 1fr 4.5fr 1fr .5fr;
}

.ReviewDetailed{
	grid-column: 2;
}
.RatingHelpful{
	grid-column: 2;
}

.HelpfulButtons{
	grid-column: 3;
}

/*---Product Review Section END---*/


/*------------------For Product List-------------------*/
.gProductListRow{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 1rem;
}
.gProductListItem1{
	display: block;
	grid-column: 1/2;
}
.gProductListItem2{
	display: block;
	grid-column: 2/3;
}
.gProductListItem3{
	display: block;
	grid-column: 3/4;
}
.gProductListItem4{
	display: block;
	grid-column: 4/5;
}
/* --- ProductList End --- */
/*------------------For Recommendation Product List-------------------*/
.RecommandationList{
	grid-column: 1/9;
}
.gRProductListRow{
	display: grid;
	grid-template-columns: .3fr 1fr 1fr 1fr 1fr .3fr;
	grid-gap: 1rem;
}


.RPrevious,{
	grid-column: 1;
}

.gRProductListItem1{
	display: block;
	grid-column: 2/3;
}
.gRProductListItem2{
	display: block;
	grid-column: 3/4;
}
.gRProductListItem3{
	display: block;
	grid-column: 4/5;
}
.gRProductListItem4{
	display: block;
	grid-column: 5/6;
}

.RNext{
	grid-column: 6/7;
}

.gSwitchItem{
	display: grid;
	grid-template-columns: 1fr 12fr 1fr;
	grid-gap: 1rem;
}

#recom-list{
	grid-column: 2/3;
}

.gLeftArrow, .gRightArrow{
	padding-top: 5rem;
}

.gLeftArrow{
	padding-right: 3.75rem;
}

.gRightArrow{
	padding-left: 3.75rem;
}
/* --- Recommendation Product List End --- */
/*---Recommandation List Section END---*/

/*---Purchase History and Shopping Cart Section START---*/
.PurchaseHistoryShoppingCartGridContainer{
	display: grid;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows:6rem 5rem 1fr 1fr 1fr;
	min-height:100vh;
}
.ShoppingCartPatternGridHeaderDate{
	grid-column: 6;
	margin-left: 5rem;
}

.ShoppingCartPatternGridHeaderTotal{
	grid-column: 7;
	padding-left: 1rem;
}

.ReviewSubmissionSection{
	position: sticky;
	grid-column: 3;
	grid-row: 3/5;
	margin-left:3rem; 
	display: grid;
	grid-template-rows: 1fr 1fr;

}

.ShoppingCartCheckOutForm{
	grid-column: 3;
	grid-row: 3/5;
	margin-left:3rem; 
	align-items: center;
}



.ShoppingCartSubTotal{
	padding-top: 2rem;
	display: grid;
	grid-template-columns: .5fr 1fr 1fr .5fr;
}

.SubTotalHeadings{
	grid-column: 2;
}

.SubTotalPrice{
	grid-column: 3;
	padding-left: 3rem;
}




/*---Purchase History and Shopping Cart Section END---*/

/*--- Detailed View of Single Product END ---*/

@media screen and (max-width:83em){
	.GridContainer{
		grid-template-rows: 1fr 1fr 1fr;
	}


	.SideMenu{
		padding-top: 0;
		grid-column: 1/9;
	}

	.SideMenu li{
		display: inline-block;
	}

	#BasicInteractiveElements, #TextStyling, #ModularPatternElements, #sitestructure, #wireframes, #mockup, #Fonts, #Icons, #Images{
		padding-left: 0;
		grid-column: 1/9;
	}


	/*------------------For Homepage Cards-------------------*/

	#ModularPatternElementsT{
		padding-left: 0;
		grid-column: 1/9;
	}

	.gCard1Content{
		padding-top: 2rem;
	}

	/* --- Homepage Cards End --- */
}

@media screen and (max-width:57em){
	.Menu{
		grid-column:2/8;
		margin-left: 2.5rem;
	}

	/*------------------For Homepage Cards-------------------*/
	#card1title{
		font-size: 18pt;
	}
	#card1text{
		font-size: 16pt;
	}
	.gCard1Content{
		grid-column: 8/15;
		margin-top: 1.5rem;
		margin-left: 1rem;
		margin-right: .5rem;
		padding-top: 1.5rem;
	}
	/* --- Homepage Cards End --- */



	.ShoppingCartPatternGrid{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(1,1fr);
	}

	.PurchaseHistoryDate{
		grid-column:1;

	}
	.ShoppingCartProductImage{
		grid-column:1;
	}

	.ShoppingCartProductInformation{
		grid-column:1;
	}

	.ShoppingCartProductPrice{
		grid-column:1;
	}
	.ShoppingCartRemoveButton{
		grid-column:1;
	}

	.ShoppingCartUpadateButton{
		grid-column: 1;
		grid-row: 6;
		margin-top: 0;
	}

	.ShoppingCartCheckOutButton{
		text-align: center;
	}

	.ShoppingCartCheckOutButton button{
		margin-left: -4rem;
	}

	.ShoppingCartAddDiscountCode input{
		display: block;
	}



}

@media screen and (max-width:71em){
	.PurchaseHistoryShoppingCartGridContainer{
		grid-template-columns:1fr 1fr;
		grid-template-rows:6rem 5rem 1fr 1fr 1fr 1fr;
	}

	.ShoppingCartPatternGrid{
		grid-column: 1/3;
	}

	.ReviewSubmissionSection{
		margin-top: 2rem;
		grid-column: 1/3;
		grid-row: 6;
		margin-left:3rem; 
	}

	.ShoppingCartCheckOutForm{
		margin-top: 2rem;
		grid-column: 1/3;
		grid-row: 6;
		margin-left:3rem; 
		padding-bottom: 1rem;
		margin-bottom: 1rem;
	}

	.ShoppingCartProductImage{
		margin-top: auto;
		margin-bottom: auto;
	}





}

@media screen and (max-width:70em){

	.ProductDetailedViewGridContainer{
		display: grid;
		grid-template-columns:repeat(8,1fr);
		grid-template-rows:4rem .3fr .3fr .3fr 1.5fr;
		min-height:100vh;
	}


	.ProductDetailed{
		display: grid;
		grid-template-rows: .5fr 1fr;
		grid-gap: .3rem;
		padding-left: 4rem; 
		padding-right: 4rem;
	}
	.ProductDetailedList{
		grid-column: 1/3;
		padding-left: 3rem;
	}
	.ProductImage{
		grid-column: 1/3;
	}


	.InformationTabs{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.ProductDescription{
		grid-column: 2/9;
	}



	[role="tablist"] {
		padding: 0;
	}


	.InformationTabs section{
		padding-left: 1rem;
	}

	[role="tablist"] li, [role="tablist"] a {
		display: block;
		position: static;
	}

	[role="tablist"] a {
		border: 2px solid #222 !important;
	}

	[role="tablist"] li + li a {
		border-top: 0 !important;
	}

	[role="tablist"] [aria-selected] {
		position: static;
	}

	[role="tablist"] [aria-selected]::after {
		content: '\0020⬅';
	}

	[role="tabpanel"] {
		border-top: 0;
	}



	.ReviewSlide{
		grid-template-rows: 1fr 1fr;
	}

	.ReviewDetailed{
		grid-column: 2/4;
	}


	.HelpfulButtons{
		grid-column: 2;
	}

	.HelpfulButtons h3{
		text-align: center;
	}

	p{
		width:clamp(20ch, 90%, 55ch);
	}


	header {
		font-size: 1rem;
	}

	header ul {
		overflow: hidden;
	}

	.NavigationBar li:hover > ul {
		display: none;
	}




	/*------------------For Product List-------------------*/
	.gProductListRow{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(2,1fr);
		grid-gap: 1rem;
	}
	.gProductListItem1{
		display: block;
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.gProductListItem2{
		display: block;
		grid-column: 2/3;
		grid-row: 1/2;
	}
	.gProductListItem3{
		display: block;
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.gProductListItem4{
		display: block;
		grid-column: 2/3;
		grid-row: 2/3;
	}
	/* --- Product List End --- */
	/*------------------For Recommendation Product List-------------------*/
	
/*	.gLeftArrow, .gRightArrow{
		padding-top: 10rem;
		}*/

		.gRProductListRow{
			display: grid;
			grid-template-columns: .3fr 1fr .3fr;
			grid-template-rows: repeat(4,1fr);
			grid-gap: 1rem;
		}
		.gRProductListItem1{
			display: block;
			grid-column: 2/3;
			grid-row: 1/2;
		}
		.gRProductListItem2{
			display: block;
			grid-column: 2/3;
			grid-row: 2/3;
		}
		.gRProductListItem3{
			display: block;
			grid-column: 2/3;
			grid-row: 3/4;
		}
		.gRProductListItem4{
			display: block;
			grid-column: 2/3;
			grid-row: 4/5;
		}

		.RPrevious{
			display: block;
			grid-column: 1/2;
			grid-row: 4/5;
		}

		.RNext{
			display: block;
			grid-column: 3/4;
			grid-row: 4/5;
		}


		/* --- Recommendation Product List End --- */
	}

	@media screen and (max-width:35em){
		.ProductDetailed{
			padding: 0;
		}
	}

	@media screen and (max-width:28em){
		.GridContainer{
			grid-template-rows: 8rem 10rem 1fr;
		}

		#Account-Personal-Information{
		display: grid;
		margin-top: 4rem;
		padding: 4rem 2rem;
		grid-column: 3/9;
	}

	#Account-Furry-Information{
		display: grid;
		margin-top: 3rem;
		padding: 4rem 2rem;
		grid-column: 3/9;
	}

	#Account-Billing-Information{
		display: grid;
		margin-top: 3rem;
		padding: 4rem 2rem;
		grid-column: 3/9;

	}
	#Account-Shipping-Information{
		display: grid;
		margin-top: 3rem;
		padding: 4rem 2rem;
		grid-column: 3/9;
	}
	#Account-Payment-Information{
		display: grid;
		margin-top: 3rem;
		padding: 4rem 2rem;
		grid-column:3/9;
	}
	}



	/*--PageNavigationBarToggleMenuSize--*/

	@media (min-width: 65em) {
		header>li {
			float: left;
		}
		header li a {
			padding: 1.25rem 2rem;
		}
		header .TopNavigationList {
			clear: none;
			float: right;
			max-height: none;
		}
		header .ToggleMenuIcon {
			display: none;
		}
	}
