/*--Basic CSS Section START--*/
.Wrapper{
	width:clamp(16rem, 90vw, 75rem);
	padding: 1rem;
	margin:0 auto;
}
body{
	font-family:Source Sans Pro;
}

h1,h2,h3, h4{
	font-family:Montserrat, sans-serif;
}

h1{
	font-size:3rem;
	color:#15B890;
	display: block;
}

h2{
	font-size:2.25rem;
	color:#1573B8;
}

h3{
	font-size:1.75rem;	
}

h4{
	font-size: 1rem;
}

p{
	font-size: 1.125rem;
	width:clamp(45ch, 95%, 85ch);
	font-family: Source Sans Pro;
}

a.IntextLink:link {
	color:#15B890;
	text-decoration: none;
}

a.IntextLink:hover {
	color:#15B890;
	text-decoration: underline;
}
a.IntextLink:focus {
	color:#1573B8;
}

a.IntextLink:visited {
	color:#1573B8;
}

a.CallToActionButton{
	font-family: Josefin Sans;
	font-weight: Semi Bold; 
	display: inline-block;
	color: #F8F8F8;
}

a.CallToActionButton:link {
	background-color:#15B890;
	padding: 1rem 1.5rem;
	border-radius: 1rem;
	text-decoration: none;
	box-shadow: inset 0 -0.5rem 0.5rem #14A07E;
}

a.CallToActionButton:hover {
	background-color:#1AD9AA;
	border-radius: 1rem;
	box-shadow: inset 0 -0.5rem 0.5rem #14A07E;
}
a.CallToActionButton:focus {
	background-color: #16866B;
	box-shadow: inset 0 0.5rem 0.5rem #04362A;
}


button{
	font-family: Josefin Sans;
	margin-top: 1rem;

}

button.ReadMoreButton{
	font-family: Josefin Sans;
}

button.ReadMoreButton:hover{
	color: #15B890;
}

button.SubmitButton{
	background-color: #FFFFFF;
	font-weight: Semi Bold; 
	display: inline-block;
	color: #15B890;
	font-size: 1rem;
	border:none;
	padding: 0.5rem 1rem .25rem 1rem;
	padding: 1rem 1.5rem;
	border-radius: 1rem;
	box-shadow: inset 0 -0.2rem 0.5rem #B0D1C9;
}

button.SubmitButton:hover{
	color: #1AD9AA;
	box-shadow: inset 0 -0.5rem 0.5rem #6FF1D1;
}

button.SubmitButton:active{
	color: #15B890;
	box-shadow: inset 0 0.5rem 0.5rem #B0D1C9;
}

button.ResetButton{
	background-color: white;
	color: #1573B8;
	font-size: 1rem;
	border:none;
	padding: 0.5rem 1rem .25rem 1rem;
	border-radius: 1rem;
	box-shadow:inset 0.05rem -0.2rem 0.4rem 0.04rem #1573B8;
}

button.ResetButton:hover{
	color: #46D7F6;
	box-shadow:inset 0.05rem -0.2rem 0.4rem 0.04rem #46D7F6;
}

button.ResetButton:active{
	color: #1573B8;
	box-shadow:inset 0.05rem -0.2rem 0.4rem 0.04rem #333333;
}

label{
	font-family: Montserrat;
	font-size: 1.5rem;
	color: #333333;
}

input[type=text]{
	border: 0.15rem solid #F2F2F2;
	display: block;
	border-radius: .25rem;
	font-family: Source Sans Pro;
	font-size: 1rem;
	height: 40px;
}

input[type=text]:focus{
	outline: none;
	border: 0.15rem solid #15B890;
}

input[type=text]:invalid{
	outline: none;
	border: 0.15rem solid #FF9090;
}

input[type=number]{
	width: 40px;
	height: 40px;
	border: 2px #15B890 solid;
	box-sizing: border-box;
	border-radius: 20px;
}

ul.ProductBenefit{
	list-style: "- ";
	font-family: Source Sans Pro;
	font-size: 1rem;
}

ol.NumberedList{
	font-family: Source Sans Pro;
	font-size: 1rem;
}

select{
	display: block;
}

.ShadowOfContainer
{
	position:relative;
	-webkit-box-shadow:0 1px 2px #34383B, 0 0 .5rem #34383B inset;
	-moz-box-shadow:0 1px 2px #34383B, 0 0 .5rem #34383B inset;
	box-shadow:0 1px 2px #34383B, 0 0 .5rem #34383B inset;
	/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
	/* !!! learned from:https://css-tricks.com/almanac/properties/b/box-shadow/;*/

}
.ShadowOfContainer:before, .ShadowOfContainer:after
{
	content:"";
	position:absolute;
	z-index:-1;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
	box-shadow:0 0 20px rgba(0,0,0,0.8);
	top:10px;
	bottom:10px;
	left:0;
	right:0;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
}
.ShadowOfContainer:after
{
	right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	-moz-transform:skew(8deg) rotate(3deg);
	-ms-transform:skew(8deg) rotate(3deg);
	-o-transform:skew(8deg) rotate(3deg);
	transform:skew(8deg) rotate(3deg);
}



.BreadCrumbs a{
	cursor: pointer;
}

.BreadCrumbs {
	margin-left: 2rem;
}


.Title h1{
	color: #333333;
}
/*--Basic CSS Section END--*/

/*---Header Section START---*/
/* header */

header a{
	color: #FFFFFF;
	display: block;
	text-align: center;
	padding:0.4rem 0.5rem;
	text-decoration: none;
}

header > a:hover{
	background-color: rgba(0, 0, 0, 0.1);
	color:#34383B;
}


header a:focus{
	color:#FFFFFF;
}



header {
	background-color: #34383B;
	font-family: Josefin Sans;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 3;
}

header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #34383B;
}

header li a {
	display: block;
	padding: 1.5rem 1.5rem;
	/*  border-right: 1px solid #f4f4f4;*/
	text-decoration: none;
}

header .SmallFormat{
	display: block;
	margin:auto;
	font-family: Josefin Sans;
	font-size: 1rem;
	padding-top: .25rem;
}



header .TopLogo {
	display: block;
	float: left;
	font-size: 2rem;
	padding: .75rem 1.5rem 0 1.5rem;
	text-decoration: none;
}

/* menu */

header .TopNavigationList {
	clear: both;
	max-height:0;
	transition: max-height .2s ease-out;
}

/* menu icon */

header .ToggleMenuIcon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 1.75rem 1.25rem;
	position: relative;
	user-select: none;
}

header .ToggleMenuIcon .ToggleIcon {
	background: #15B890;
	display: block;
	height: .125rem;
	position: relative;
	transition: background .2s ease-out;
	width: 1.125rem;
}

header .ToggleMenuIcon .ToggleIcon:before,
header .ToggleMenuIcon .ToggleIcon:after {
	background: #15B890;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

header .ToggleMenuIcon .ToggleIcon:before {
	top: 5px;
}

header .ToggleMenuIcon .ToggleIcon:after {
	top: -5px;
}

/* menu btn */

header .TopNavigationButton {
	display: none;
}

header .TopNavigationButton:checked ~ .TopNavigationList {
	display: block;
	text-align: center;
	overflow: hidden;
	max-height: max-content;
}


/*the middle line of the toggle menu button*/
header .TopNavigationButton:checked ~ .ToggleMenuIcon .ToggleIcon {
	background: transparent;
}

header .TopNavigationButton:checked ~ .ToggleMenuIcon .ToggleIcon:before {
	transform: rotate(-45deg);
}

header .TopNavigationButton:checked ~ .ToggleMenuIcon .ToggleIcon:after {
	transform: rotate(45deg);
}

header .TopNavigationButton:checked ~ .ToggleMenuIcon:not(.steps) .ToggleIcon:before,
header .TopNavigationButton:checked ~ .ToggleMenuIcon:not(.steps) .ToggleIcon:after {
	top: 0;
}




/*---Header Section END---*/

/*--MainNavigationBar section START--*/

.MainNavigation{
	background-color: #34383B;
	font-size: .3rem;
	font-family: Josefin Sans;
	height: 4.5rem;
	padding-top: 1rem;
	display: grid;
	grid-template-columns:repeat(9,1fr);
}


.NavigationBar {
	/* Border */   
	display: flex;

	/* Reset list styles */
	list-style-type: none;

}

.NavigationBar li {
	/* Spacing */
	padding: 0rem;

	/* Used to position the sub dropdown */
	position: relative;
}

/* The sub dropdown */
.NavigationBar ul {
	/* Border */
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
	color:#333333;
	background-color: #f9f9f9;
	box-shadow: 0px 0.5rem 1rem 0px rgba(0,0,0,0.2);
	z-index: 1;

	/* Hidden by default */
	display: none;

	/* Absolute position */
	left: 0;
	position: absolute;
	top: 100%;

	/* Reset styles */
	list-style-type: none;
	margin: 0;

	/* Width */
	width: min-content;

}

.NavigationBar ul li{
	padding: .5rem;
}

.DropdownButton {
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding-top: 1.75rem;
}

/* The second level sub dropdown */
.NavigationBar ul ul {
	left: 100%;
	position: absolute;
	top: 0;
}

.NavigationBarC2{
	color: #333333;
	padding: 0.45rem .3rem;
	text-decoration: none;
	display: block;
	text-align: left;
	width: max-content;
}

.NavigationBarC3{
	color: #333333;
	padding: 0.3rem .3rem;
	text-decoration: none;
	display: block;
	text-align: left;
	width: max-content;
}

/* Change background color of list item when being hovered */
.NavigationBar li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}


/*Changed text color when hover on it*/
.NavigationBar li:hover > a{
	color: #15B890;
}
.NavigationBar li:hover > div a{
	color: #15B890;
}


/* Show the direct sub dropdown when hovering the list item */
.NavigationBar li:hover > ul {
	display: block;
}



/*Learned Drop down menu from https://csslayout.io/patterns/nested-dropdowns/*/


/*--MainNavigationBar section END--*/


/*---Detailed View of Single Product START---*/
.ProductDetailedViewGridContainer{
	background-color: #FFFFFF;
}


.ProductTitle h3{
	margin-bottom: .25rem;
}

.ProductTitle p{
	display: inline;
	margin-top: 0;
	margin-bottom: .5rem;
}

.ProductDetailed{
	margin-bottom: 3rem;
}

h3.ProductPriceH3{
	margin-top: .5rem;
	margin-bottom: 2rem;
}

.ProductDetail h4{
	margin-top: .5rem;
	margin-bottom: .5rem;
	display: block;
}

.ProductTitle img{
	margin-top: .25rem;
}

.ProductImageSlides{
	width: 100%;
	position: relative;
	margin:auto;
}

.ProductImage{
	padding-top: 1.5rem;
}

.ProductImage figure{
	margin-left: 0;
}
.ProductImage figure img{
	width: 100%;
	height: 100%;
}



.ProductImageDots{
	text-align: center;
}

.dot{
	cursor: pointer;
	height: 1rem;
	width: 1rem;
	margin: 0 0.125rem;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover{
	background-color: #717171;
}



.ProductPrice button{
	border:none;
	background-color: #F2F2F2;
}

.ProductPrice input[type=number]{
	width:3rem;
	margin-left: .5rem;
	margin-top: 1.7rem;
	border-radius: 60%;
}

.AddToCart{
	padding-top: 1.5rem;
}


.ChangeQuatity{
	margin-left: 2rem;
}

.ChangeQuantity form{
	display: inline-block;
}

.ChangeQuantity input, textarea{
	border:.1rem solid #15B890;
	box-sizing: border-box;
	margin:0;
	outline: none;
	padding: 1rem;
}

.ChangeQuantity input[type="button"] {
	-webkit-appearance: button;
	cursor: pointer;
	font-size: 1rem;
}

.ChangeQuantity input::-webkit-outer-spin-button,
.ChangeQuantity input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.ChangeQuantity {
	clear: both;
	margin: 0;
	position: relative;
}

.ChangeQuantity input[type='button'] {
	background-color: #15B890;
	min-width: 2.25rem;
	width: auto;
}

.ChangeQuantity .ButtonMinus,
.ChangeQuantity .ButtonPlus {
	font-weight: bold;
	height: 2.25rem;
	padding: 0;
	width: 2.25rem;
	position: relative;
}


.ButtonPlus {
	left: .5rem;
}

.ChangeQuantity input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: none;
}


.ProductTitle h3{
	width:clamp(20ch, 60%, 85ch);
}

.ProductDetailedInformation{
	padding-top: 1.5rem;
	background-color: #F2F2F2;
}

.ProductDetailedInformation p{
	color: #333333;
}

/*--Product Detailed Information Section START--*/

.InformationTabs{
	grid-column: 2/8;
}

.InformationTabs ul{
	margin-bottom: 0;
	margin-left: 1rem;
}

.InformationTabs a.IntextLink {
	font-family: Josefin Sans;
	color: #333333;
	font-size: 1.25rem;
}

.InformationTabs a.IntextLink:hover {
	color: #15B890;
}


.InformationTabs section{
	padding-left: 5rem;
}

#ReadMore{
	display: none;
}
#more {display: none;}

[role="tablist"] {
	padding: 0;
	margin-left: 8rem;

}

[role="tablist"] li, [role="tablist"] a {
	display: inline-block;
}

[role="tab"]{
	background-color: #F2F2F2;
}

[role="tablist"] a {
	text-decoration: none;
	padding: 0.5rem 2rem;
}

[role="tablist"] [aria-selected] {
	border: 2px solid #34383B;
	background: #34383B;
	color: #FFFFFF !important;
	border-bottom: 0;
	position: relative;
	top: 2px;
}


[role="tabpanel"] {
	border: 2px solid #34383B;
	padding: 1.5rem;
}

[role="tabpanel"] * + * {
	margin-top: 0.75rem;
}

*:focus {
	outline: none;
	box-shadow: inset 0 0 0 4px #1573B8;
}

ul.ProductInformation{
	list-style: "- ";
	font-family: Source Sans Pro;
	font-size: 1rem;
}


/*--Product Detailed Information Section END--*/

/*--Review Section START--*/


.ProdcutReviews{
	position:relative;
	margin:3rem;
}

.ProductSectionTitle{
	padding-left: 5.5rem;
	margin-bottom: 1rem;
}

.ReviewSlide{
	display: none;
}


.Previous, .Next{
	cursor:pointer;
	position: absolute;
	top:50%;
	width: auto;
	padding:1rem;
	margin-top: -1.4rem;
	color:black;
	font-weight: bold;
	font-size: 1.25rem;
	transition: 0.6s ease;
	border-radius: 0 0.2rem 0.2rem 0;
	user-select: none;
}

.Next{
	right:0;
	border-radius: 0.25rem 0 0 0.25rem;
}

.Previous:hover, .Next:hover {
	background-color: #34383B;
	color: white;
}



.ReviewDetailed h3,h4{
	display: inline;
	vertical-align: middle;
}

.HelpfulButtons{
	margin-left: 1rem;
}

.HelpfulButtons button{
	width: 100%;
}

.HelpfulButtons h3{
	margin-bottom: 0;
}

.RatingStars{
	display: inline;
	vertical-align: middle;
	color: #DA9B72;
	font-size: 1.5rem;
}


/* Fading animation */
.FadeAnimation {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
/*--Review Section END--*/

/* --- Recommendation Product List Section START --- */

.RPrevious, .RNext{
	cursor:pointer;
	position: relative;
	top:20%;
	width: auto;
	padding:1rem;
	margin-top: -1.4rem;
	color:black;
	font-weight: bold;
	font-size: 1.25rem;
	transition: 0.6s ease;
	border-radius: 0 0.2rem 0.2rem 0;
	user-select: none;
}

.RNext{
	right:0;
	border-radius: 0.25rem 0 0 0.25rem;
}

.RPrevious:hover, .RNext:hover {
	background-color: #34383B;
	color: white;
}


.RecommandationList{
	margin: 2rem 3rem 2rem 3rem;
	padding-bottom: 2rem;
}

.RecommandationList p{
	margin-top: .5rem;
}

.ItemImage{
	width: 100%;
	height: auto;
	left: 0px;
}



.gSwitchItem figure{
	height: 8rem;
	width: auto;
	margin: 1rem;
}

img.ItemImage {
	width: 100%;
	height: 100%;
}

.gSwitchItem h4{
	display: block;
	margin:.5rem 0;
}
.ItemRating{
	display: inline;
}

#recom-list figure a img{
	width: 100%;
}


.LeftArrow,.RightArrow{
	cursor:pointer;
	width: auto;
	padding:1rem;
	color:black;
	font-weight: bold;
	font-size: 1.25rem;
	border-radius: 0 0.2rem 0.2rem 0;
	user-select: none;
}
/* --- Recommendation Product List Section End --- */


/*--Detailed View of Single Product END--*/

/*Shopping Cart & Purchase History One Row START*/
.ShoppingCartQuantityButton{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-start: 6;
	grid-column-end: 7;
	align-self: center;
	padding-right: 1rem;
}

.PurchaseHistoryDate{
	grid-column-start: 6;
	grid-column-end: 7;
	align-self: center;

}

.ShoppingCartQuantityButton button{
	border:none;
	background-color: #F2F2F2;
}

.ShoppingCartQuantityButton input[type=number]{
	width:3rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
	border-radius: 60%;
}

.ChangeQuantity .ShoppingCartButtonMinus{
	font-weight: bold;
	height: 2.25rem;
	padding: 0;
	width: 2.25rem;
	position: relative;
	margin-left: .375rem;
}

.ShoppingCartProductGrid{

	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-column-start: 1;
	grid-column-end: 4;
	align-self: center;
}

.ShoppingCartPatternGrid{
	grid-column: 1/3;
	display: grid;
	grid-template-columns: repeat(8,1fr);
}

.ShoppingCartPatternGridHeader{
	grid-column: 1/3;
	display: grid;
	grid-template-columns: repeat(8,1fr);
	border-bottom: 0.2rem solid #333333;
}

.ShoppingCartProductImage{
	max-width:100%;
	height:auto;
	grid-column-start: 1;
	grid-column-end: 2;
	padding-top: 2rem;
}

.ShoppingCartProductInformation{
	align-self: center;
	grid-column-start: 2;
	grid-column-end: 5;
}

.ShoppingCartProductPrice{
	align-self: center;
	grid-column-start: 7;
	grid-column-end: 8;
}
.ShoppingCartRemoveButton{
	align-self: center;
}

.ShoppingCartRemoveButton a.IntextLink{
	display: block;
}

@media screen and (max-width:57em){
	.ShoppingCartQuantityButton{
		display: grid;
		grid-template-rows: repeat(3,1fr);
		grid-template-columns: none;
		grid-column-start: 7;
		grid-column-end: 8;
		grid-row-start:1;
		grid-row-end:7;
		justify-self: center;
	}

}

.ReviewSubmissionSection{
	background-color: #F2F2F2;
}

.ReviewProductInformation{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.ReviewProductInformation p{
	font-size: 1.125rem;
	width: auto;
	font-family: Source Sans Pro;
}

.ReviewForm{
	padding-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}

textarea{
	border: 0.15rem solid #F2F2F2;
	display: block;
	border-radius: .25rem;
	font-family: Source Sans Pro;
	font-size: 1rem;
	height: 10rem;
}

textarea:focus{
	outline: none;
	border: 0.15rem solid #15B890;
}

textarea:invalid{
	outline: none;
	border: 0.15rem solid #FF9090;
}

.ReviewForm button{
	margin-top: 2rem;
	margin-left: 5rem;
}

.ShoppingCartAddDiscountCode{
	padding-top: 3rem;
	text-align: center;

}

.ShoppingCartAddDiscountCode input{
	margin-top: .5rem;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.ShoppingCartAddDiscountCode button{
	display: inline-block;

}

.ShoppingCartCheckOutForm{
	background-color: #F2F2F2;
}

p.Subtotal{
	font-weight: bold;
}

.ShoppingCartCheckOutButton{
	padding-top: 2rem;
	padding-left: 6rem;
}

.ShoppingCartCheckOutButton button{
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	margin-bottom: .5rem;
}


/*--Shopping Cart & Purchase History One Row END--*/


/*footer seeting START*/
footer{
	background: #34383B;
	font-size: 1rem;
	font-family: Montserrat;
	color: #ffffff;
}

footer ul{
	list-style-type: none;
	padding: 0;
}

footer a{
	color: #ffffff;
}

@media screen and (max-width:81em){
	footer{
		background: #34383B;
		font-size: 0.5rem;
		font-family: Montserrat;
		color: #ffffff;
	}
}

/*footer seeting END*/


/* Account page START*/

.Account-Side-Bar{
	background:#F2F2F2;
	display: block;
}

#Account-Personal-Information{
	background:#F2F2F2;
	display: block;
}

#Account-Furry-Information{
	background:#F2F2F2;
	display: block;
}

#Account-Billing-Information{
	background:#F2F2F2;
	display: block;

}
#Account-Shipping-Information{
	background:#F2F2F2;
	display: block;
}
#Account-Payment-Information{
	background:#F2F2F2;
	display: block;
}

.Account-Grid-Container input[type=text] {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 3px;

}

/*input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #15B890;
  border-radius: 4px;
  }*/

  label {
  	display: block;
  }

  .Account-Side-Bar ul{
  	margin-top: 4rem;
  	list-style-type: none;
  	padding-top: 1rem;
  }

  .Account-Side-Bar li{
  	padding-top: .5rem;
  }

  .Account-Side-Bar a{
  	color:#1D1D1D;
  	font-size: 1.5rem;
  	text-decoration: none;

  }

  .AccountSideBar {
  	height: 100%;
  	width: 0;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: #111;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 60px;
  }

  .AccountSideBar a {
  	padding: .5rem .5rem .5rem 2rem;
  	text-decoration: none;
  	font-size: 25px;
  	color: #818181;
  	display: block;
  	transition: 0.3s;
  }

  .AccountSideBar a:hover {
  	color: #f1f1f1;
  	background-color: #34383B;
  }

  .AccountSideBar .closebtn {
  	position: relative;
  	top: 0;
  	text-align: right;
  	padding-right: 2rem;
  	font-size: 1.5rem;
  }

  .openbtn {
  	position: fixed;
  	font-size: 20px;
  	cursor: pointer;
  	background-color: #111;
  	color: white;
  	padding: 10px 15px;
  	border: none;
  }

  .openbtn:hover {
  	background-color: #444;
  }

  .Wrapper {
  	transition: margin-left .5s;
  	padding: 16px;
  }

  #Account-Personal-Information ul {
  	list-style-type: none;
  	padding-left: 0;
  }

  #Account-Furry-Information ul {
  	list-style-type: none;
  	padding-left: 0;
  }

  #Account-Billing-Information ul{
  	list-style-type: none;
  	padding-left: 0;
  }

  #Account-Shipping-Information ul{
  	list-style-type: none;
  	padding-left: 0;
  }

  #Account-Payment-Information ul{
  	list-style-type: none;
  	padding-left: 0;
  }



  /* Account page END*/
  .Reference-Container{
  	position: relative;
  }

  .Reference-Container img { 
  	width: 100%;
  	height: auto;
  	opacity: 0.3;
  }

  .Reference-Title {
  	position: absolute;
  	top: 50%;
  	right: 3rem;
  	font-size: 4vw;
  }

  .Reference-Ul ul{
  	list-style-type: none;
  	padding-left: 0;
  }
  .Reference-Ul li{
  	padding-top: 1rem;
  }

  .Reference-Ul a{
  	color:#1D1D1D;
  	font-family: Montserrat;
  	text-decoration: none;

  }
  /*checkout Page START*/
  .Back img{
  	position: absolute;
  	height: auto;
  }

  .Back a.IntextLink{
  	position: relative;
  	top:.5rem;
  	left:3rem;
  	font-size:1.5rem;
  }

  .CheckOutNext img{
  	position: absolute;
  	height: auto;
  	right:.5rem;
  }

  .CheckOutNext a.IntextLink{
  	position: relative;
  	top:.5rem;
  	right:3.5rem;
  	font-size:1.5rem;
  }

  @media screen and (max-width:37em){
  	.Back a.IntextLink{
  		display: none;
  	}
  	.CheckOutNext a.IntextLink{
  		display: none;
  	}

  }


  .CheckOut1-Billing-Information ul{
  	list-style-type: none;
  	padding-left: 0;
  }

  .CheckOut1-Billing-Information {
  	background:#F2F2F2; 
  	display: block;
  }

  .CheckOut-Side-Bar ul{
  	margin: 6rem 0 4rem 2rem;
  	list-style-type: none;
  	padding-left: 0;
  }

  .CheckOut-Side-Bar {
  	background:#F2F2F2; 
  }

  .Checkout2PaymentInformation ul{
  	list-style-type: none;
  	padding-left: 0;
  }

  .CheckOut4-Container{
  	position: relative;
  }

  .CheckOut4-Container img { 
  	width: 100%;
  	height: auto;
  	opacity: 0.3;
  }

  .CheckOut4-Title {
  	position: absolute;
  	top: 25%;
  	right: 3rem;
  	font-size: 4vw;
  }
/*checkout Page END*/