
/*----------------About Us-----------------*/
.gAboutUsViewGridContainer{
	display: grid;
	grid-template-columns:repeat(8,1fr);
}
.gAboutUsImage{
	grid-column-start: 1;
	grid-column-end: 9;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	background-image: url(../img/BlueCat.png);
	background-size: 100% 100%;
	background-size: cover;
	max-width: 100%;
	min-height: 40rem;
	background-repeat: no-repeat;
	position: relative;
}
.gBlueCatText{
	grid-column-start: 2;
	grid-column-end: 3;
	color: #FFFFFF;
	margin-top: 70%;
	padding-bottom: 3rem;
}
h2.BlueCatTitle{
	color: #FFFFFF;
}
.AboutUsTitle{
	grid-column-start: 1;
	grid-column-end: 9;
	background-image: url(../img/CatsCartoon.png);
	background-size: 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 40% 40%;
	position: relative;
	padding-bottom: 0;
}
.AboutUsTitle h1{
	padding-left: 70%;
	padding-top: 20%;
	padding-bottom: 10%;
	color: #333333;
}
.gUs{
	display: grid;
	grid-template-columns:repeat(12,1fr);
	min-height: 70vh;
	padding-bottom: 4rem;
}
.gUs img{
	width: 100%;
    min-height: 50vh;
}
.S1G1{
	display: block;
	grid-column-start: 1;
	grid-column-end: 8;

}
.S1G2{
	padding-top: 15%;
	padding-left: 4rem;
	grid-column-start: 8;
	grid-column-end: 13;
	background-color: #E7F3FD;
}
.S2G1{
	display: block;
	grid-column-start: 1;
	grid-column-end: 6;
	padding-top: 15%;
	padding-left: 4rem;
	background-color: #E7F3FD;
}
.S2G2{
	grid-column-start: 6;
	grid-column-end: 13;
}

.gUs img{
	width: 100%;
    min-height: 50vh;
}

/*---------------------------------*/

/*----------------SignUp-----------------*/
.gSignUp{
	display: grid;
	grid-template-columns:repeat(2,1fr);
	border: 1px solid #15B890;
	margin-top: 3rem;
	margin-bottom: 4rem;
}

.SignUpImage{
	display: block;
	grid-column-start: 1;
	grid-column-end: 2;
	background-color: #E7F3FD;
}

.gSignUpForm{
	display: block;
	filter: none;
	grid-column-start: 2;
	grid-column-end: 3;
	padding-top: 2rem;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-bottom: 3rem;
}

input[type=text]{
  width: 90%;
  height: 40px;
  border: 0.8px #15B890 solid;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 6.24057px;
  resize: vertical;
}

.Agreeform{
	font-size:12pt;
	word-wrap:break-word;
	display: inline-block;
	vertical-align:middle;
}

#signupbutton{
	display: inline-block;
}

#signin1{
	padding-left: 3rem;
}

#signin2{
	padding-left: 1rem;
}

.TemHolder{
	background-color: #BBBBBB;
}

.SignUpImage img{
	display: inline-block; 
	vertical-align: middle;
	width: auto;
	margin-top:30%;
	margin-left: 5%;
	max-width: 90%;

}
/*---------------------------------*/


/*----------------ProductList-----------------*/
#keyword, #subscribe{
	display:inline-block;
	width: 60%;
}
.gProductListContainer{
	grid-column-start: 1;
	grid-column-end: 9;
	display: grid;
	grid-template-columns: 1fr 4fr;
	margin-top: 3rem;
}
.SortFont{
	font-family: "Montserrant";
	padding-left: 6px;
	font-size: 10pt;
	font-weight: 400;
	letter-spacing: 0.03em;
	color: #19191D;
	text-decoration: none;
	word-wrap:break-word;
	display: inline-block;
	vertical-align:middle;
}
.gSortFilter{
	grid-column-start: 1;
	grid-column-end: 2;
	display: grid;
}
.gProductLists{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-template-columns: repeat(12,1fr);
}
.gBrand{
	grid-column-start: 1;
	grid-column-end: 13;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	min-height: 15vh;
}

#brand1{
	display: block;
	grid-column-start: 1;
	grid-column-end: 2;
	background-color: blue;
}
#brand2{
	display: block;
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: green;
}
#brand3{
	display: block;
	grid-column-start: 3;
	grid-column-end: 4;
	background-color: pink;
}
.gSearchLine{
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 10vh;
}
.gPLTitle{
	grid-column-start: 1;
	grid-column-end: 2;
}
.gSearchForm{
	grid-column-start: 2;
	grid-column-end: 3;
	padding-top: 1.5rem;
	display: inline-block;
}
.SortHead{
	font-weight: 300;
}

/*#filterbutton{
	height:30px;
	width: 80%;
}*/
.Sorter{
	background-color: #F4F4F7;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-right: .5rem;
}
.Sorter ul{
	margin-bottom: 0;
}
/*---------------------------------*/


/*----------------Index-----------------*/
.gSortFilter{
	padding-top: 8rem;
}
.gHomeTopCard{
	display: grid;
	grid-template-columns:repeat(12,1fr);
	min-height: 60vh;
	padding-bottom: 4rem;
}
.gHomeTopCardContent{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 15%;
	padding-left: 2rem;
	padding-right: 2rem;
	grid-column-start: 8;
	grid-column-end: 13;
	background-color: #15B890;
	color: #ffffff;
}
.gHomeTopCardContent h2{
	color: #ffffff;
}
.gHomeTopCardImage{
	grid-column-start: 1;
	grid-column-end: 8;
	background-color: #DDDDDD;
}
#homepagerecommandation{
	text-align: center;
	background-color: #ffffff;
}
.C1G2{
	padding-top: 15%;
	padding-left: 4rem;
	padding-right: 4rem;
	grid-column-start: 8;
	grid-column-end: 13;
	background-color: #E7F3FD;
}
.C2G1{
	display: block;
	grid-column-start: 1;
	grid-column-end: 6;
	padding-top: 15%;
	padding-left: 4rem;
	padding-right:4rem;
	background-color: #E7F3FD;
}
.Subscribe{
	background-color: #1573b8;
	color: #FFFFFF;
	text-align: center;
	padding-top: .5rem;
	padding-bottom: 2rem;
}
/*---------------------------------*/



@media screen and (max-width:60em){
/*----------------About Us-----------------*/
.gAboutUsImage{
	background-image: url(../img/BlueCat0.png);
}
.gBlueCatText{
	grid-column-start: 1;
	grid-column-end: 3;
	padding-left: 1rem;
	padding-right: 0rem;
	padding-bottom: 1rem;
	color: #333333;
	margin-top: 90%;
	margin-left: 3rem;
	margin-right: 0rem;
}
.gUs{
	grid-template-rows: repeat(2,1fr);
	min-height: 60vh;
}

.gUs img{
	min-width: 100%;
    height:100%;
}

.S1G1{
	grid-column-end: 13; 
	padding-top: 0rem;
	padding-bottom: 0rem;
	margin-top: 0rem;
	margin-bottom: 0rem;
}
.S1G2{
	grid-column-start: 1;
	padding-top: 0rem;
	padding-bottom: 0rem;
	margin-top: 0rem;
	margin-bottom: 0rem;
}
.S2G1{
	grid-column-end: 13;
	padding-top: 0rem;
	padding-bottom: 0rem;
}
.S2G2{
	grid-column-start: 1;
}
/*---------------------------------*/



/*----------------SignUp-----------------*/
.gSignUp{
	grid-template-rows:0fr,1fr;
}

.SignUpImage{
	grid-column-end: 3;
	padding-bottom:10%;
}

.gSignUpForm{
	grid-column-start: 1;
	grid-row-start: 2;
	grid-row-end: 3;
	padding-left: 2rem;
	padding-right: 1rem;
}

#signin1{
	padding-left: 1rem;
}

#signin2{
	padding-left: 0rem;
}

/*---------------------------------*/



/*----------------ProductList-----------------*/
.gSearchForm{
	grid-column-start: 1;
	grid-column-end: 3;
}
.C1G2{
	grid-column-start: 1;
	padding-top: 1rem;
	padding-bottom: 2rem;
	padding-right: 1rem;
	padding-left: 1rem;
}
.C2G1{
	grid-column-end: 13;
	padding-top: 1rem;
	padding-bottom: 2rem;
	padding-right: 1rem;
	padding-left: 1rem;
}
.gHomeTopCardContent{
	grid-column-start: 1;
}
.gHomeTopCardImage{
	grid-column-start: 1;
	grid-column-end: 13;
	min-height: 40vh;
}
}